
.head-row .head-table th,
.head-row .head-table td {
    padding: 5px;
    vertical-align: bottom;
}

.head-row .head-table .head-input {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.head-row .head-table .head-input.recipe-date:focus,
.head-row .head-table .head-input.recipe-date {
    border: none;
    box-shadow: none;
    cursor: default;
}

.recipe-row .recipe-table-error {
    font-size: 12px;
    position: absolute;
    margin-top: -18px;
    color: #e14545;
}

.recipe-row .recipe-table th,
.recipe-row .recipe-table td {
    font-size: 10px;
}
.recipe-row .recipe-table #currency_th {
    font-size: 8px;
}
.recipe-row .recipe-table .btn-minus,
.recipe-row .recipe-table .btn-plus {
    padding: 4px 8px;
}
.recipe-row .recipe-table .form-group {
    margin-bottom: 0;
}

.recipe-row .image-area {
    height: 225px;
    text-align: center;
    padding-top: 10px;
}

.recipe-row .image-area .image-display {
    max-width: 325px;
    max-height: 220px;
}

.recipe-row .btn-area {
    text-align: right;
}
.recipe-row .btn-area .btn {
    padding: 8px 20px;
    width: 120px;
}